@import '../base';

.accordion {  
  //.accordion__item 
  // &__item {
  // }
  
  //.accordion__summary 
  &__summary {
    @include reset-button;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
    color: inherit;
  }
  
  //.accordion__title 
  // &__title {
  // }
  
  //.accordion__label 
  &__label {
    @include reset-button;

    flex-shrink: 0;
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    @include transition(color 0.3s);
    color: inherit;
    
    @include viewport-tablet-min {
      max-width: px-to-rem(22);
      height: px-to-rem(22);
    }

    @include viewport-phone {
      max-width: px-to-rem(18);
      height: px-to-rem(18);
    }

    @include hover-focus-visible {
      @include non-mobile-device {
        color: var(--color-green-100);
      }
    } 

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      height: 2px;

      transform-origin: 50% 50%;
      transform: translate(-50%, -50%);
      background-color: currentColor;

      // @include viewport-tablet-min {
      //   max-width: px-to-rem(22);
      // }
  
      // @include viewport-phone {
      //   max-width: px-to-rem(18);
      // }
    }

    &::after {
      @include transition(transform 0.3s);
      transform: translate(-50%, -50%) rotate(90deg);

      @at-root .accordion__item._active > .accordion__summary .accordion__label::after {
        transform: translate(-50%, -50%);
      }
    }

    svg {
      width: 100%;
      height: auto;

      @include transition(transform 0.4s);
      color: currentColor;

      @at-root .accordion__item._active .accordion__label svg {
        transform: rotate(180deg);
      }
    }

    @at-root .benefits-list.accordion & {
      &::before,
      &::after {  
        display: none;
      }
    }

    @at-root .drop-numeric.accordion & {
      &::before,
      &::after {  
        display: none;
      }
    }

    @at-root .menu-list.accordion & {
      flex-shrink: unset;
      max-width: unset;
      justify-content: flex-start;

      &::before,
      &::after {  
        display: none;
      }

      svg {
        max-width: px-to-rem(16);
      }
    }

    @at-root .faq-list.accordion & {
      @include transition((transform 0.4s, color 0.3s));

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-green-100);
        }
      } 

      @at-root .faq-list.accordion .accordion__item._active .accordion__label {
        transform: rotate(135deg);
      }

      &::after {  
        @at-root .faq-list.accordion .accordion__item._active .accordion__label::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
  
  //.accordion__details 
  &__details {
    opacity: 0;
    height: 0;
    overflow: hidden;
    will-change: height, opacity;
  }
  
  //.accordion__description 
  &__description {
    padding-top: px-to-rem(16);
  }
}