.get-started {
  
  //.get-started__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(64);
      }

      @include viewport-tablet {
        margin-top: px-to-rem(52);
      }

      @include viewport-phone {
        margin-top: px-to-rem(40);
      }
    }
  }
  
  //.get-started__header 
  // &__header {
  // }
  
  //.get-started-list 
  // &-list {
  // }
}
