.get-started {
  
  //.get-started__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(64);
      }

      @include viewport-tablet {
        margin-top: px-to-rem(52);
      }

      @include viewport-phone {
        margin-top: px-to-rem(40);
      }
    }
  }
  
  //.get-started__header 
  // &__header {
  // }
  
  //.get-started-list 
  &-list {
    display: grid;
    gap: px-to-rem(24);

    @include viewport-desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    @include viewport-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include viewport-phone {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }

    //.get-started-list__item 
    // &__item {
    // }
    
    //.get-started-list-header 
    &-header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;

      > * + * {
        margin-top: px-to-rem(24);
      }

      //.get-started-list-header__top 
      &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * + * {
          margin-left: px-to-rem(20);
        }
      }
    }

    //.get-started-list__counter 
    &__counter {
      flex-shrink: 0;
      border: 2px solid var(--color-green);
      border-radius: px-to-rem(50);
      padding: px-to-rem(12) px-to-rem(16);

      display: flex;
      align-items: center;
      justify-content: center;

      @include transition((border 0.4s, background 0.4s, color 0.4s));

      font-weight: 700;
      line-height: 134%;
      font-size: px-to-rem(24);

      @at-root .get-started-list__item._active & {
        color: var(--color-green);
        border-color: transparent;
        background-color: var(--color-black);
      }
    }
    
    //.get-started-list__title 
    &__title {
      line-height: 134%;

      @include viewport-desktop {
        font-weight: 600;
        font-size: px-to-rem(24);
      }

      @include viewport-tablet {
        font-weight: 600;
        font-size: px-to-rem(22);
      }

      @include viewport-phone {
        font-weight: 700;
        font-size: px-to-rem(18);
      }
    }
    
    //.get-started-list__label 
    &__label {
      @include non-mobile-device {
        display: none;
      }
    }
    
    //.get-started-list__description 
    // &__description {
    // }
    
    //.get-started-list__typography 
    &__typography {
      font-weight: 500;
      line-height: 150%;
    }
  }
}
