.guide {
  
  //.guide__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      margin-top: px-to-rem(24);
    }
  }
  
  //.guide-header 
  &-header {
    position: relative;
    z-index: 0;

    width: 100%;
    border-radius: px-to-rem(40);

    color: var(--color-white);
    background-color: var(--color-black);

    @include viewport-tablet-min {
      padding: px-to-rem(48) px-to-rem(40);
    }

    @include viewport-phone {
      padding: px-to-rem(24);
    }

    &::before {
      content: '';
      display: block;
      @include absolute-fullsize;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;

      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border-radius: inherit;
      border: 6px solid var(--color-green);

      @include transition((opacity 0.4s, transform 0.4s));
      transform: translate(-50%, -50%) scale(0.6);
      opacity: 0;

      @at-root .guide-header:hover::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    > * {
      position: relative;
      z-index: 2;

      + * {
        margin-top: px-to-rem(24);
      }
    }

    //.guide-header__top 
    &__top {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      > * + * {
        margin-left: px-to-rem(24);
      }
    }
    
    //.guide-header__label 
    &__label {
      flex-shrink: 0;

      width: 100%;
      max-width: px-to-rem(48);
      height: px-to-rem(48);

      display: flex;
      align-items: center;
      justify-content: center;

      svg,
      img {
        width: 100%;
        height: auto;
      }
    }
    
    //.guide-header__button 
    &__button {
      flex-shrink: 0;
      width: 100%;
      max-width: max-content;

      color: var(--color-white);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-black);
        }
      }

      &::before {
        background-color: var(--color-white);
      }
    }
    
    //.guide-header__title 
    &__title {
      @include text-heading-3;

      @include viewport-tablet-min {
        margin-top: px-to-rem(48);
      }
      @include viewport-phone {
        margin-top: px-to-rem(24);
      }
    }
    
    //.guide-header__description 
    &__description {
      color: var(--color-grey-200);
      
      @include viewport-desktop {
        font-weight: 600;
        line-height: 133%;
        font-size: px-to-rem(24);
      }
      @include viewport-tablet {
        font-weight: 600;
        line-height: 133%;
        font-size: px-to-rem(20);
      }
      @include viewport-phone {
        font-weight: 500;
        line-height: 150%;
        font-size: px-to-rem(16);
      }
    }
  }
  
  //.guide-list 
  &-list {
    display: grid;
    gap: px-to-rem(24);

    @include viewport-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include viewport-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include viewport-phone {
      display: none;
    }

    //.guide-list__item 
    &__item {
      border-radius: px-to-rem(40);
      padding: px-to-rem(48) px-to-rem(40);

      color: var(--color-white);
      background-color: var(--color-black);

      &:nth-child(odd):last-child {
        @include viewport-tablet {
          grid-column-end: span 2;
        }
      }

      > * + *{
        margin-top: px-to-rem(24);
      }
    }
    
    //.guide-list__count 
    &__count {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: max-content;
      border: 1px solid var(--color-green);
      border-radius: px-to-rem(24);
      padding: px-to-rem(12) px-to-rem(16);

      font-weight: 600;
      line-height: 133%;
      font-size: px-to-rem(24);
    }
    
    //.guide-list__title 
    &__title {
      @include text-heading-3;
      margin-top: px-to-rem(24);
    }
    
    //.guide-list__subtitle 
    &__subtitle {
      color: var(--color-grey-200);
      
      @include viewport-desktop {
        font-weight: 600;
        line-height: 133%;
        font-size: px-to-rem(24);
      }
      @include viewport-tablet {
        font-weight: 600;
        line-height: 133%;
        font-size: px-to-rem(20);
      }
      @include viewport-phone {
        font-weight: 500;
        line-height: 150%;
        font-size: px-to-rem(16);
      }
    }
  }
}
