.quality {
  
  //.quality__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(64);
      }

      @include viewport-tablet {
        margin-top: px-to-rem(52);
      }

      @include viewport-phone {
        margin-top: px-to-rem(40);
      }
    }
  }
  
  //.quality__header 
  // &__header {
  // }
  
  //.quality-list 
  &-list {
    @include viewport-tablet-min {
      --gradient-width: #{px-to-rem(40)};
    }
    
    @include viewport-phone {
      --gradient-width: var(--wrap);
    }

    @include viewport-phone {
      /* stylelint-disable-next-line */
      -webkit-mask-image: unset;
      mask-image: unset;
    }

    //.quality-list__inner 
    &__inner {
      align-items: unset;

      > * + * {
        margin-left: px-to-rem(12);
      }
    }
    
    //.quality-list__item 
    &__item {
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      
      border: 1px solid var(--color-white);
      border-radius: px-to-rem(24);
      padding: px-to-rem(24) px-to-rem(8);

      @include transition((border 0.4s));
      text-align: center;
      background-color: var(--color-white);

      @include hover-focus-visible {
        @include non-mobile-device {
          border-color: var(--color-green);
        }
      }

      @include viewport-tablet-min {
        width: px-to-rem(240);
      }

      @include viewport-phone {
        width: px-to-rem(248);
      }

      > * + * {
        margin-top: px-to-rem(16);
      }
    }
    
    //.quality-list__media 
    &__media {
      max-width: px-to-rem(224);
      width: 100%;

      img,
      svg {
        width: 100%;
        height: auto;
      }
    }
    
    //.quality-list__title 
    &__title {
      font-weight: 500;
      line-height: 150%;
      font-size: px-to-rem(16);
    }
  }
}
