.readtime {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 150%;
  font-size: px-to-rem(16);
  color: var(--color-grey-500);

  //.readtime__label 
  &__label {
    flex-shrink: 0;
    width: 100%;
    max-width: px-to-rem(24);

    display: flex;
    align-items: center;
    justify-content: center;

    svg,
    img {
      width: 100%;
      height: auto;
    }
  }

  span {
    width: 100%;
  }

  > * + * {
    margin-left: px-to-rem(8);
  }
}