section,
.section {
  position: relative;
  z-index: 0;
  width: 100%;
  //overflow-x: hidden;

  @include viewport-desktop {
    padding: px-to-rem(60) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(50) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(40) 0;
  }

  &.light {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &.dark {
    color: var(--color-white);
    background-color: var(--color-black);
    
    @include viewport-desktop {
      border-radius: px-to-rem(40);
      margin: px-to-rem(60) 0;
      padding: px-to-rem(80) 0;
    }

    @include viewport-tablet {
      border-radius: px-to-rem(40);
      margin: px-to-rem(50) 0;
      padding: px-to-rem(60) 0;
    }
    
    @include viewport-phone {
      border-radius: px-to-rem(24);
      margin: px-to-rem(40) 0;
      padding: px-to-rem(40) 0;
    }
  }

  &.first-section {
    @include viewport-tablet-min {
      padding-top: calc(#{px-to-rem(46)} + #{px-to-rem(20)} + var(--started-header-height, #{px-to-rem(34)}));
    }
    
    @include viewport-phone {
      padding-top: calc(2 * #{px-to-rem(20)} + var(--started-header-height, #{px-to-rem(36)}));
      // padding-top: var(--started-header-height, px-to-rem(76));
      // padding-top: px-to-rem(76);
    }
  }

  //.section__container 
  &__container {
    position: relative;
    z-index: 1;
  }

  //.section-header 
  &-header {
    position: relative;
    z-index: 0;

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(24);
      }
      @include viewport-phone {
        margin-top: px-to-rem(16);
      }
    }

    //.section-header__title 
    &__title {
      @include text-heading-2;
      position: relative;
      z-index: 1;
    }

    //.section-header__subtitle 
    &__subtitle {
      line-height: 133%;
      color: var(--color-grey-600);

      @include viewport-desktop {
        font-weight: 600;
        font-size: px-to-rem(24);
      }
      @include viewport-tablet {
        font-weight: 600;
        font-size: px-to-rem(20);
      }
      @include viewport-phone {
        font-weight: 400;
        font-size: px-to-rem(18);
      }

      @at-root .section.dark & {
        font-weight: 400;
        color: var(--color-grey-200);
      }
    }
  }
}
