.pagination
  a.pagination__arrow.previous.disabled(href='#') 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 12.0067C6 12.2946 6.11249 12.5824 6.32623 12.7782L15.2454 21.6901C15.4366 21.8858 15.6841 22.001 15.9652 22.001C16.5501 22.001 17 21.5519 17 20.9532C17 20.6653 16.8875 20.4005 16.7076 20.2047L7.90084 11.385V12.617L16.7076 3.79717C16.8875 3.61294 17 3.34812 17 3.04876C17 2.45003 16.5501 2.00098 15.9652 2.00098C15.6841 2.00098 15.4366 2.11612 15.2342 2.31186L6.32623 11.2238C6.11249 11.4425 6 11.7074 6 12.0067Z" fill="currentColor" fill-opacity="0.85"/>
    </svg>

  .pagination-list
    p.pagination-list__item.current 1

    a.pagination-list__item.link(href='#') 2
    a.pagination-list__item.link(href='#') 3
    //- a.pagination-list__item.link(href='#') 4
    //- a.pagination-list__item.link(href='#') 5
    //- a.pagination-list__item.link(href='#') 6

    p.pagination-list__item ...

    a.pagination-list__item.link(href='#') 8

  a.pagination__arrow.next(href='#') 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 11.9952C18 11.7073 17.8875 11.4196 17.6738 11.2237L8.7546 2.31185C8.56339 2.11613 8.31594 2.00098 8.03477 2.00098C7.4499 2.00098 7 2.45009 7 3.04875C7 3.33663 7.11248 3.60143 7.29243 3.79725L16.0992 12.617V11.385L7.29243 20.2048C7.11248 20.389 7 20.6538 7 20.9532C7 21.5519 7.4499 22.001 8.03477 22.001C8.31594 22.001 8.56339 21.8858 8.76585 21.6901L17.6738 12.7782C17.8875 12.5594 18 12.2946 18 11.9952Z" fill="currentColor" fill-opacity="0.85"/>
    </svg>
