-
  const dropNumericList = [
    {
      title: 'Sign up in your account',
      description: `
        <p>
          Start by providing your necessary details to set up your account
        </p>
      `,
    },
    {
      title: 'Tell us about your goals and needs in backlinks',
      description: `
        <p>
          Your goals shape our strategy, and we're dedicated to delivering results that align with your specific needs
        </p>
      `,
    },
    {
      title: 'Receive free recommendations',
      description: `
        <p>
          Our team will analyze your goals, industry, and current online presence to provide valuable insights
        </p>
      `,
    },
    {
      title: 'Formulate a budget that suits you',
      description: `
        <p>
          Let's work together to create a budget that perfectly matches your backlink needs
        </p>
      `,
    },
    {
      title: 'Launch your crowd marketing campaign',
      description: `
        <p>
          Initiate your crowd marketing campaign and elevate your online presence with strategic link building.
        </p>
      `,
    },
    {
      title: 'Review the Initial 5 backlinks',
      description: `
        <p>
          Evaluate the quality and impact of the first five backlinks we've generated for your website
        </p>
      `,
    },
    {
      title: 'Completion of the first Stage ',
      description: `
        <p>
          Users review these backlinks to track their SEO impact and monitor traffic growth
        </p>
      `,
    },
    {
      title: 'Continuation of the campaign',
      description: `
        <p>
          This stage involves adjusting and optimizing the strategy, preparing for the next stage
        </p>
      `,
    },
  ];

section.section.get-started
  ._container
    .get-started__wrapper
      .get-started__header.section-header
        h2.section-header__title How to get started

      include @/templates/layout/drop-numeric.pug

      //- ul.get-started-list.accordion(
      //-   data-is-label-click='false',
      //-   data-is-open-on-hover='true'
      //- )
      //-   each item, index in getStartedList
      //-     li.accordion__item.get-started-list__item
      //-       button.accordion__summary.get-started-list-header
      //-         span.get-started-list-header__top
      //-           span.get-started-list__counter!= `${index + 1 < 10 ? '0' : ''}${index + 1}`

      //-           span.get-started-list__label.accordion__label
      //-             <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-               <path d="M8.10533 11.7034C8.27276 11.7034 8.44013 11.6365 8.55402 11.5092L13.737 6.19894C13.8509 6.0851 13.9178 5.93778 13.9178 5.77037C13.9178 5.42215 13.6566 5.1543 13.3085 5.1543C13.141 5.1543 12.987 5.22126 12.8732 5.32841L7.74372 10.5717H8.46025L3.33077 5.32841C3.22363 5.22126 3.06961 5.1543 2.89551 5.1543C2.54729 5.1543 2.28613 5.42215 2.28613 5.77037C2.28613 5.93778 2.3531 6.0851 2.46694 6.20564L7.64997 11.5092C7.77721 11.6365 7.93122 11.7034 8.10533 11.7034Z" fill="currentColor" fill-opacity="0.85"/>
      //-             </svg>

      //-         span.get-started-list__title= item.title

      //-       .accordion__details
      //-         .accordion__description.get-started-list__description
      //-           .get-started-list__typography.typography!= item.description
