.section.marquee-section
  .marquee
    span.marquee__item LinksClerk - next level linkbuilding
    span.marquee__item LinksClerk - next level linkbuilding
    span.marquee__item LinksClerk - next level linkbuilding
