-
  const banner = {
    specialClass: 'blog-banner',
    title: "For more helpful articles, check out our blog",
    subtitle: '',
    remarkList: [],
  };

  const blog = {
    isBlogPage: 'true',
    title: 'Top Articles',
    list: [
      [
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-1.jpg',
          title: 'Quora vs Reddit: What’s better for SEO and marketing in 2022?',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-2.jpg',
          title: 'Everything About Redirects and Their Features',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '6-8',
          author: 'David Parker',
          date: {
            data: '2023-08-09T00:00:00+00:00',
            title: '09.08.023',
          },
        },
        {
          href: '#',
          isRecommended: 'false',
          media: '@/assets/img/blog/article-3.jpg',
          title: 'Analyzing Competitors in Link Building: How to Do It Correctly? ',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
      ],
      [
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-1.jpg',
          title: 'Quora vs Reddit: What’s better for SEO and marketing in 2022?',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-2.jpg',
          title: 'Everything About Redirects and Their Features',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '6-8',
          author: 'David Parker',
          date: {
            data: '2023-08-09T00:00:00+00:00',
            title: '09.08.023',
          },
        },
        {
          href: '#',
          isRecommended: 'false',
          media: '@/assets/img/blog/article-3.jpg',
          title: 'Analyzing Competitors in Link Building: How to Do It Correctly? ',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
      ],
      [
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-1.jpg',
          title: 'Quora vs Reddit: What’s better for SEO and marketing in 2022?',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
        {
          href: '#',
          isRecommended: 'true',
          media: '@/assets/img/blog/article-2.jpg',
          title: 'Everything About Redirects and Their Features',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '6-8',
          author: 'David Parker',
          date: {
            data: '2023-08-09T00:00:00+00:00',
            title: '09.08.023',
          },
        },
        {
          href: '#',
          isRecommended: 'false',
          media: '@/assets/img/blog/article-3.jpg',
          title: 'Analyzing Competitors in Link Building: How to Do It Correctly? ',
          description: 'When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer a',
          readtime: '5-7',
          author: 'Alex Ahom',
          date: {
            data: '2023-02-04T00:00:00+00:00',
            title: '04.02.023',
          },
        },
      ],
    ],
  };

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Links Clerk - Blog

    link(rel='stylesheet', href=require('@/styles/pages/blog.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    include @/templates/article-list.pug

    include @/templates/contacts.pug

    include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
