-
  const banner = {
    specialClass: 'reviews',
    title: "What our clients say?",
    subtitle: '',
    remarkList: [
      {
        specialClass: 'banner-remark',
    
        button: {
          href: '#',
          type: 'link',
          title: 'Learn more',
        },

        title: 'Check out more about services in our Blog',
        typography: `
          <p>
            We encourage you to learn more about us and our services
          </p>
        `,

        list: [],
      },
    ],
  };

  const remarkList = [
    {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Sign up',
      },

      titleHeader: {
        specialClass: '',
        value: 'Register in your personal account to take advantage of all our services',
      },
      //- title: 'If your niche is specific, contact us to discuss the details',
      //- typography: `
      //-   <p>
      //-     Whether you're in e-commerce, technology, health and wellness, or any other industry, our approach ensures that you get high-quality backlinks that drive high results
      //-   </p>
      //- `,

      list: [],
    },
  ];

  const benefits = {
    title: 'Why we are the best?',
    isBenefitsCenter: 'true',
  };

  isClientsPreviewAdditional = 'true';
  isClientsFadeSection = 'true';

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Links Clerk - Reviews

    link(rel='stylesheet', href=require('@/styles/pages/reviews.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    include @/templates/clients-preview.pug

    each remark, index in remarkList
      if index === 0
        include @/templates/remark.pug

    include @/templates/contacts.pug

    include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
