-
  const banner = {
    specialClass: 'service',
    title: "Guest post backlinks",
    subtitle: 'Our team places guest posts or inserts links on niche-related resources and articles. Manual and individual selection of domains for your niche and content outsourcing to experienced writers',
  };

  const remarkList = [
    {
      specialClass: 'niches',
      button: {
        href: '#',
        type: 'text',
        title: 'Value',
      },

      title: 'Guest posting and niche edits services strengthen your website',
      typography: `
        <p>
          <strong>Important</strong>: We don’t offer PBNs or landing pages. We guarantee placement on real sites with traffic and Domain Rating or Authority
        </p>
      `,

      list: [],
    },
    {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Contact us',
      },

      titleHeader: {
        specialClass: '',
        value: 'Competitive prices',
      },

      subtitleHeader: 'Our team takes an additional fee in the form of a fixed % of the backlink budget, so prices will always be transparent and competitive. Also, we usually try to get some discount for placement from the website owner, sometimes it works and you can save some of your budgets!',
      //- title: 'If your niche is specific, contact us to discuss the details',
      //- typography: `
      //-   <p>
      //-     Whether you're in e-commerce, technology, health and wellness, or any other industry, our approach ensures that you get high-quality backlinks that drive high results
      //-   </p>
      //- `,

      list: [],
    },
    {
      button: {
        href: '#',
        type: 'link',
        title: 'Learn more',
      },

      title: 'Check out more about Niche Edits and Guest Posts',
      typography: `
        <p>
          We encourage you to learn more about Niche Edits and Guest Posts to keep up to date with our services
        </p>
      `,

      list: [],
    },
     {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Choose',
        hasFooter: 'true',
      },

      titleHeader: {
        specialClass: 'price',
        value: '<strong>2k+</strong> <span> platforms in our database for different budgets starting from $30</span>',
      },
      //- title: 'If your niche is specific, contact us to discuss the details',
      //- typography: `
      //-   <p>
      //-     Our pricing model offers flexibility. Opt for a suitable package or acquire a manual selection of backlinks tailored to your specific needs
      //-   </p>
      //- `,

      list: [],
    },
  ];

  const barCards = {
    specialClass: 'without-padding',
    title: '',
    list: [
      {
        isActive: 'true',
        title: 'Individual searching',
        description: 'Individual searching and selection accordingly to your niche and budget',
      },
      {
        isActive: 'false',
        title: 'Search Enhancement',
        description: 'Increase search visibility and website metrics',
      },
      {
        isActive: 'false',
        title: 'Natural and Google safe backlinks',
        description: 'Secure, natural, and google-friendly backlinks boosting your online presence',
      },
    ],
  };

  const roadmap = {
    title: 'Benefits',
    description: '',
    list: [
      {
        title: 'Placement',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong>  Involves adding a backlink to an existing article or content on a website within your niche
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> Requires creating and publishing a new article with your backlink on another website in your niche
            </p>
          `,
        ],
      },
      {
        title: 'Content Creation',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> No new content is typically created; instead, your link is integrated into an existing piece on the target website
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> Involves writing a unique article that is then submitted and published on the host website
            </p>
          `,
        ],
      },
      {
        title: 'Control',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> Limited control over the existing content; your link is added to an already established piece
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> You have more control over the content and can tailor it to align with your messaging and SEO strategy
            </p>
          `,
        ],
      },
      {
        title: 'Link Relevance',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> The link is inserted into content that is already relevant to your niche, potentially providing a more seamless integration
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> You have the opportunity to craft content specifically around your target keywords and niche, ensuring relevance
            </p>
          `,
        ],
      },
      {
        title: 'Approval Process',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> Generally faster since you're working with existing content, but approval may still be needed from the website owner
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> Involves a more extended process, including pitch approval, content creation, and final review before publication
            </p>
          `,
        ],
      },
      {
        title: 'SEO Impact',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> Can have a quick impact on SEO, especially if the host page already has authority and is well-indexed
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> Provides an opportunity to build authoritative backlinks and enhance your website's SEO through strategic content creation
            </p>
          `,
        ],
      },
      {
        title: 'Relationship Building',
        descriptionList: [
          `
            <p>
              <strong>Niche Edits:</strong> May not involve direct interaction with the website owner or content creator
            </p>
          `,
          `
            <p>
              <strong>Guest Posts:</strong> Offers the chance to establish relationships with other websites and their audiences through direct communication
            </p>
          `,
        ],
      },
    ],
  };

  const clientsPreview = {
    isHasAdditional: 'true',
    isHasFadeSection: 'true',
    title: 'What our clients say',
    description: 'We`ve got more than 830 reviews in Fiverr, Trustpilot, BlackHatWorld and Clutch.co',
  };

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Links Clerk - Service 3

    link(rel='stylesheet', href=require('@/styles/pages/service-3.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    section.niches.section
      ._container
        .niches__wrapper
          .niches__header.section-header
            h2.section-header__title!= 'Guest Post and Niche edits <br />Backlinks value'

      each remark, index in remarkList
        if index < 2
          include @/templates/remark.pug

      include @/templates/bar-cards.pug

    section.niches.section
      ._container
        .niches__wrapper
          .niches__header.section-header.left
            h2.section-header__title We offer both Niche Edits and Guest Posts

      each remark, index in remarkList
        if index === 2
          include @/templates/remark.pug

    .niches.section
      include @/templates/roadmap.pug

      each remark, index in remarkList
        if index === 3
          include @/templates/remark.pug

    include @/templates/calculate.pug

    include @/templates/clients-preview.pug

    include @/templates/faq.pug

    include @/templates/contacts.pug

    include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
