-
  const banner = {
    specialClass: 'service',
    title: "Forum Backlinks",
    subtitle: 'Our service provides high-quality forum backlinks in your niche and target location. Our main goal is a suit your requirements and fulfills linkbuilding needs',
  };

  const remarkList = [
    {
      specialClass: 'niches',
      button: {
        href: '#',
        type: 'text',
        title: 'Niches',
      },

      title: 'We work with all niches',
      typography: `
        <p>
          Whether you're in e-commerce, technology, health and wellness, or any other industry, our approach ensures that you get high-quality backlinks that drive high results
        </p>
      `,

      list: [],
    },
    {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Contact us',
      },

      titleHeader: {
        specialClass: '',
        value: 'If your niche is specific, contact us to discuss the details',
      },
      //- title: 'If your niche is specific, contact us to discuss the details',
      //- typography: `
      //-   <p>
      //-     Whether you're in e-commerce, technology, health and wellness, or any other industry, our approach ensures that you get high-quality backlinks that drive high results
      //-   </p>
      //- `,

      list: [],
    },
    {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Sign up',
      },

      titleHeader: {
        specialClass: '',
        value: 'Register in your personal account to take advantage of all our services',
      },
      //- title: 'If your niche is specific, contact us to discuss the details',
      //- typography: `
      //-   <p>
      //-     Whether you're in e-commerce, technology, health and wellness, or any other industry, our approach ensures that you get high-quality backlinks that drive high results
      //-   </p>
      //- `,

      list: [],
    },
    {
      specialClass: 'mini',
      button: {
        type: 'link-green',
        href: '#',
        title: 'Choose',
        hasFooter: 'true',
      },

      titleHeader: {
        specialClass: 'price',
        value: '<strong>$5</strong> <span>/ link is a starting price. Your minimal order - 5 backlinks</span>',
      },
      //- title: 'If your niche is specific, contact us to discuss the details',
      typography: `
        <p>
          Our pricing model offers flexibility. Opt for a suitable package or acquire a manual selection of backlinks tailored to your specific needs
        </p>
      `,

      list: [],
    },
    {
      button: {
        href: '#',
        type: 'link',
        title: 'Contact us',
      },

      title: 'Still have any questions?',
      typography: `
        <p>
          If you have any questions or need further assistance, feel free to reach out to our team. We're here to help you <a href="#", target="_blank">navigate the world of backlinks</a> and <a href="#", target="_blank">improve your website's online presence</a>
        </p>
      `,

      list: [],
    },
  ];

  const roadmap = {
    title: 'How clients report look like',
    description: 'Take a look at this example',
    list: [
      {
        title: 'Link to forum thread',
        descriptionList: [
          `
            <p>
              <span>
                https://www.wallstreetoasis.com/
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Post text',
        descriptionList: [
          `
            <p>
              <span>
                Hello! You know real estate agents make way too much! Note how much disposable income real estate agents have. See where they live, what they drive, and how they relax. And don’t let a cheap old car fool you. The oldest trick in the book. They try to make themselves look like poor people. I want to buy real estate and I’m wondering how much realtors make in california because I don’t want to overpay?
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Date',
        descriptionList: [
          `
            <p>
              <span>
                29.08
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Account name',
        descriptionList: [
          `
            <p>
              <span>
                Jack Sky
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'URL',
        descriptionList: [
          `
            <p>
              <span>
                https://www.fastexpert.com/blog/real-estate-commission-rate-in-california/
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Anchor',
        descriptionList: [
          `
            <p>
              <span>
                How much do realtors make in California
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Domain Rating',
        descriptionList: [
          `
            <p>
              <span>
                63
              </span>
            </p>
          `,
        ],
      },
      {
        title: 'Traffic',
        descriptionList: [
          `
            <p>
              <span>
                150921
              </span>
            </p>
          `,
        ],
      },
    ],
  };

  const barCards = {
    title: 'Benefits',
    list: [
      {
        isActive: 'false',
        title: 'Because we choose forums with traffic',
        description: 'We prefer all forums only with traffic checked and proved by Ahrefs or SimilarWeb and according to the location of your website. Basically, you only get targeted backlinks',
      },
      {
        isActive: 'false',
        title: 'Because we choose niche related thread',
        description: 'When you choose us, you’ll get backlinks in the niche relevant threads according to your business. Don’t worry if you have a specific project, we’ll offer you the most relevant which we can find',
      },
      {
        isActive: 'false',
        title: 'Because we provide a real warranty from deleting',
        description: 'We don’t forget about deleted backlinks and always make free replacements during warranty time. Usually, if the backlink stays more than 30 days, it will stay for years',
      },
      {
        isActive: 'true',
        title: 'Because we know what is a high-quality placement',
        description: 'We can understand even without an agreement with clients what they need in case of high-quality backlinks and offer real solutions for their sites',
      },
      {
        isActive: 'false',
        title: 'Because we can be flexible',
        description: 'If you need we can agree with you on each step of the completing project, to make it superb',
      },
      {
        isActive: 'false',
        title: 'Because we can place backlinks in the target location',
        description: 'We can place backlinks according to your site and business location, track it through Ahrefs and SimilarWeb or due to IP',
      },
    ],
  };

  const showcaseList = [
    {
      media: {
        path: '@/assets/img/cases/case-1.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'VIN Decoder website',
      characteristicList: [
        {
          title: 'Views',
          value: '7.9K',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-2.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Motorcycle catalog website',
      characteristicList: [
        {
          title: 'Views',
          value: '599',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-3.jpg',
      },
      categoryList: [
        {
          title: 'Software',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Thunderbird files recovery website',
      characteristicList: [
        {
          title: 'Views',
          value: '1.1K',
        },
      ],
    },

    {
      media: {
        path: '@/assets/img/cases/case-1.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'VIN Decoder website',
      characteristicList: [
        {
          title: 'Views',
          value: '7.9K',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-2.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Motorcycle catalog website',
      characteristicList: [
        {
          title: 'Views',
          value: '599',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-3.jpg',
      },
      categoryList: [
        {
          title: 'Software',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Thunderbird files recovery website',
      characteristicList: [
        {
          title: 'Views',
          value: '1.1K',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-1.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'VIN Decoder website',
      characteristicList: [
        {
          title: 'Views',
          value: '7.9K',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-2.jpg',
      },
      categoryList: [
        {
          title: 'Automobile',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Motorcycle catalog website',
      characteristicList: [
        {
          title: 'Views',
          value: '599',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/cases/case-3.jpg',
      },
      categoryList: [
        {
          title: 'Software',
        },
        {
          title: 'Technology',
        },
      ],
      title: 'Thunderbird files recovery website',
      characteristicList: [
        {
          title: 'Views',
          value: '1.1K',
        },
      ],
    },
  ];

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Links Clerk - Service 1

    link(rel='stylesheet', href=require('@/styles/pages/service-1.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    section.niches.section.last-child-margin
      ._container
        .niches__wrapper
          .niches__header.section-header
            h2.section-header__title Niches we work with

      each remark, index in remarkList
        if index < 2
          include @/templates/remark.pug

    include @/templates/regions.pug

    include @/templates/roadmap.pug

    each remark, index in remarkList
      if index === 2
        include @/templates/remark.pug

    include @/templates/quality.pug

    section.niches.section
      ._container
        .niches__wrapper
          .niches__header.section-header
            h2.section-header__title Crowd Backlinks Pricing Overview

      each remark, index in remarkList
        if index === 3
          include @/templates/remark.pug

      ._container
        .niches__wrapper
          include @/templates/determine.pug

    each remark, index in remarkList
      if index === 4
        include @/templates/remark.pug

    include @/templates/bar-cards.pug

    include @/templates/showcase.pug

    include @/templates/faq.pug

    include @/templates/contacts.pug

    include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
