-
  const banner = {
    specialClass: 'main',
    media: {
      type: 'image',
      path: '@/assets/img/banner-media.jpg'
    },
    title: 'Backlinks for boosting website',
    subtitle: 'Backlinks are important for the search ranking. Our aim is providing the best linkbuilding services for your business',
  };

  const remarkList = [
    {
      button: {
        href: '#',
        type: 'link',
        title: 'Learn more',
      },

      title: 'Check out our beginer`s guide',
      typography: `
        <p>
          We encourage you to read our beginner's guide to increase your awareness of backlinks
        </p>
      `,

      list: [
        {
          title: 'Introduction',
          subtitle: 'Introduction to backlings world',
        },
        {
          title: 'The basics',
          subtitle: 'Explaning basic terms and concepts of backlinks',
        },
        {
          title: 'Importance',
          subtitle: 'Explaning why backlinks are significant',
        },
      ],
    },
    {
      button: {
        href: '#',
        title: 'Contact us',
      },

      title: 'Still have any questions?',
      typography: `
        <p>
          If you have any questions or need further assistance, feel free to reach out to our team. We're here to help you <a href="#", target="_blank">navigate the world of backlinks</a> and <a href="#", target="_blank">improve your website's online presence</a>
        </p>
      `,

      list: [],
    },
  ];

  const benefits = {
    title: 'Why us?',
    isBenefitsCenter: 'true',
  };

  const showcaseList = [
    {
      media: {
        path: '@/assets/img/showcase/showcase-1.jpg',
        hover: {
          title: 'From 12k to 24k',
          percent: '+100%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Education',
        },
        {
          title: 'Online Tutor',
        },
        {
          title: 'Education',
        },
        {
          title: 'Online Tutor',
        },
        {
          title: 'Education',
        },
        {
          title: 'Online Tutor',
        },
        {
          title: 'Education',
        },
        {
          title: 'Online Tutor',
        },
      ],
      title: 'Online learning website Brighterly',
      characteristicList: [
        {
          title: 'Links Built',
          value: '1050',
        },
        {
          title: 'Timeframe',
          value: '7 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-2.jpg',
        hover: {
          title: 'From 9k to 10.9k',
          percent: '+21%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Financial and Loans',
        },
        {
          title: 'Personal Finance',
        },
      ],
      title: 'Financial webservice Crixeo',
      characteristicList: [
        {
          title: 'Links Built',
          value: '300',
        },
        {
          title: 'Timeframe',
          value: '5 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-3.jpg',
        hover: {
          title: 'From 1.3k to 3.5k',
          percent: '+169%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Blockchain',
        },
        {
          title: 'Cryptocurrency',
        },
      ],
      title: 'BaaS platform Get Block',
      characteristicList: [
        {
          title: 'Links Built',
          value: '450',
        },
        {
          title: 'Timeframe',
          value: '12 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-4.jpg',
        hover: {
          title: 'From 1.3k to 3.5k',
          percent: '+169%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Business and Career',
        },
      ],
      title: 'Outsourcing customer support website Helpware',
      characteristicList: [
        {
          title: 'Links Built',
          value: '960',
        },
        {
          title: 'Timeframe',
          value: '12 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-5.jpg',
        hover: {
          title: 'From 50k to 59.5k',
          percent: '+19%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Travel',
        },
        {
          title: 'Rental services',
        },
      ],
      title: 'Vacation rental software IGMS',
      characteristicList: [
        {
          title: 'Links Built',
          value: '160',
        },
        {
          title: 'Timeframe',
          value: '8 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-6.jpg',
        hover: {
          title: 'From 250 to 769',
          percent: '+207%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'IT',
        },
        {
          title: 'Marketing',
        },
      ],
      title: 'Website for e-commerce developers Wiserbrand',
      characteristicList: [
        {
          title: 'Links Built',
          value: '240',
        },
        {
          title: 'Timeframe',
          value: '9 month',
        },
      ],
    },



    {
      media: {
        path: '@/assets/img/showcase/showcase-4.jpg',
        hover: {
          title: 'From 1.3k to 3.5k',
          percent: '+169%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Business and Career',
        },
      ],
      title: 'Outsourcing customer support website Helpware',
      characteristicList: [
        {
          title: 'Links Built',
          value: '960',
        },
        {
          title: 'Timeframe',
          value: '12 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-5.jpg',
        hover: {
          title: 'From 50k to 59.5k',
          percent: '+19%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Travel',
        },
        {
          title: 'Rental services',
        },
      ],
      title: 'Vacation rental software IGMS',
      characteristicList: [
        {
          title: 'Links Built',
          value: '160',
        },
        {
          title: 'Timeframe',
          value: '8 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-6.jpg',
        hover: {
          title: 'From 250 to 769',
          percent: '+207%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'IT',
        },
        {
          title: 'Marketing',
        },
      ],
      title: 'Website for e-commerce developers Wiserbrand',
      characteristicList: [
        {
          title: 'Links Built',
          value: '240',
        },
        {
          title: 'Timeframe',
          value: '9 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-4.jpg',
        hover: {
          title: 'From 1.3k to 3.5k',
          percent: '+169%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Business and Career',
        },
      ],
      title: 'Outsourcing customer support website Helpware',
      characteristicList: [
        {
          title: 'Links Built',
          value: '960',
        },
        {
          title: 'Timeframe',
          value: '12 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-5.jpg',
        hover: {
          title: 'From 50k to 59.5k',
          percent: '+19%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Travel',
        },
        {
          title: 'Rental services',
        },
      ],
      title: 'Vacation rental software IGMS',
      characteristicList: [
        {
          title: 'Links Built',
          value: '160',
        },
        {
          title: 'Timeframe',
          value: '8 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-6.jpg',
        hover: {
          title: 'From 250 to 769',
          percent: '+207%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'IT',
        },
        {
          title: 'Marketing',
        },
      ],
      title: 'Website for e-commerce developers Wiserbrand',
      characteristicList: [
        {
          title: 'Links Built',
          value: '240',
        },
        {
          title: 'Timeframe',
          value: '9 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-4.jpg',
        hover: {
          title: 'From 1.3k to 3.5k',
          percent: '+169%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Business and Career',
        },
      ],
      title: 'Outsourcing customer support website Helpware',
      characteristicList: [
        {
          title: 'Links Built',
          value: '960',
        },
        {
          title: 'Timeframe',
          value: '12 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-5.jpg',
        hover: {
          title: 'From 50k to 59.5k',
          percent: '+19%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'Travel',
        },
        {
          title: 'Rental services',
        },
      ],
      title: 'Vacation rental software IGMS',
      characteristicList: [
        {
          title: 'Links Built',
          value: '160',
        },
        {
          title: 'Timeframe',
          value: '8 month',
        },
      ],
    },
    {
      media: {
        path: '@/assets/img/showcase/showcase-6.jpg',
        hover: {
          title: 'From 250 to 769',
          percent: '+207%',
          subtitle: 'Traffic Increase',
        },
      },
      categoryList: [
        {
          title: 'IT',
        },
        {
          title: 'Marketing',
        },
      ],
      title: 'Website for e-commerce developers Wiserbrand',
      characteristicList: [
        {
          title: 'Links Built',
          value: '240',
        },
        {
          title: 'Timeframe',
          value: '9 month',
        },
      ],
    },
  ];

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Links Clerk

    link(rel='stylesheet', href=require('@/styles/styles.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    include @/templates/showcase.pug

    include @/templates/potential.pug

    include @/templates/benefits.pug

    include @/templates/services.pug

    each remark, index in remarkList
      if index === 0
        include @/templates/remark.pug

    include @/templates/get-started.pug

    include @/templates/payment.pug

    include @/templates/clients-preview.pug

    include @/templates/faq.pug

    each remark, index in remarkList
      if index === 1
        include @/templates/remark.pug

    include @/templates/contacts.pug

    include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('./index.ts')) 
